@mixin Opacity($value) {
  filter: alpha(opacity=$value);
  -khtml-opacity: $value;
  -moz-opacity: $value;
  opacity: $value;
}

.name-interface-rows {
  padding: 0;
  margin: 0;
}
.name-interface-row-scroll {
  min-height: 40px;
  max-height: 220px;
}

.policy-header-nav {
  .policy-nav-link {
    line-height: 1.3em;
    vertical-align: middle;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      .glyphicon {
        @include Opacity(1);
      }
    }
    .glyphicon {
      margin-right: 2px;
      padding: 0;
      font-size: 1.3em;
      vertical-align: middle;
      @include Opacity(0.45);
    }
    .button-label {
      vertical-align: middle;
      line-height: 1.1em;
      display: inline-block;
    }
  }
}

.select-signatures-heading {
  margin: 30px 0 20px 0;
}

.policy-signatures-container {
  background-color: #f5f5f5;
  padding: 20px;
}

.rowDetailContent {
  padding: 20px;
  overflow: hidden;
  position: relative;

  .rowDetailSearchListContent {
    padding-bottom: 20px;
    .search-list-empty-result-container {
      strong {
        color: #fff;
        font-weight: normal;
      }
    }
  }
}
.selected-row-description {
  padding-bottom: 30px;
  display: inline-block;
}
.rowDetailDescriptionBlock {
  height: auto;

  hr {
    border-top: 1px solid #565C60;
  }

}
.hideDetails {
  position: absolute;
  right: 10px;
  bottom: 25px;
  cursor: pointer;
}


.policyAppliedMsgContent {
  text-align: center;

  label {
    color: #568F57;
    margin: 0;
  }

  .btn-default {
    color: #568F57;
    background-color: #E0F0D9;
    border-color: #568F57;
    font-weight: bold;
  }
}

.sensor-select-row {
  padding: 10px 20px 10px 10px;
  background-color: #f5f5f5;

  .sensor-select-content {
    padding: 0;
  }

  .field-lbl {
    padding: 8px 0 0 0;
  }

  .sensor-select-button-hidden {
    visibility: hidden;
  }
}

.apply-policy-modal-window {
  .modal-dialog {
    width: 660px;
  }
}

.new-signature-modal-window {
  .modal-dialog {
    width: 760px;
  }
}

.control-label {
  text-align: left;
}
.preview-signatures-scrollbar {
  height: 300px;
}