header {
  height: 40px;
  background-color: #fff;
  .logo {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    img {
      max-width: 100%;
    }
  }
  nav {
    ul {
      li {
        display: block;
        float: left;
        height: 40px;
        line-height: 40px;
        font-size: .9em;
        a {
          color: #8d8f91;
          &:hover {
            color: #000;
          }
        }
        &:last-child {
          margin-left: 30px;
        }
      }

    }
  }
  .welcome-user {
    height: 40px;
    line-height: 40px;
    color: #8d8f91;
    font-size: .9em;
  }
}