.modal-steps {
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  height: 50px;
  line-height: 50px;
  .modal-step {
    cursor: pointer;
    text-align: center;
    width: 33.33%;
    display: inline-block;
    .step-number {
      background-color: #aaa;
      color: #fff;
      display: inline-block;
      margin-right: 4px;
      height: 22px;
      line-height: 22px;
      width: 22px;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    .step-label {
      display: inline-block;
      height: 22px;
      line-height: 22px;
      color: #aaa;
    }
    &.active {
      cursor: default;
      .step-label {
        color: #222729;
      }
      .step-number {
        background-color: #222729;
      }
    }

    &[disabled] {
      cursor: default;
      background: none repeat scroll 0 0 #eaeaea;
    }
  }
}

.modal-backdrop {
  position: fixed;
  bottom: 0;
  height: auto !important;
}