<span class="search-list-title" ng-if="signatureIcon !== 'empty'">{{sectionTitle}}</span>


<div class="clearfix"></div>
<div class="search-list-search-container">
    <div class="col-no-padding" ng-class="{'col-xs-4': signatureIcon !== 'remove' || showRemoveButton}">
        <div ng-switch on="signatureIcon">
            <div ng-switch-when="checkbox" class="checkbox">
                <label>
                    <input type="checkbox" ng-checked="checkboxes.checked" ng-click="selectAll($event)"
                           ng-disabled="listModel.entities.length === 0"
                           ng-indeterminate="selectAllProp">
                    {{::'createPolicy.allLabel' | i18next}}
                </label>
            </div>

            <div ng-if="showRemoveButton" ng-switch-when="remove"
                 class="remove-all-items" ng-click="clearAllSelected()"
                 ng-disabled="listModel.entities.length === 0">
                <span class="glyphicon glyphicon-remove search-list-remove">
                </span> {{::'createPolicy.allLabel' | i18next}}
            </div>

            <div ng-switch-default class="search-list-title-container">
                <span class="search-list-title">{{::sectionTitle}}</span>
            </div>
        </div>
    </div>
    <div class="col-no-padding"
         ng-class="{'col-xs-8': signatureIcon !== 'remove' || showRemoveButton,
         'col-xs-12': signatureIcon === 'remove' && !showRemoveButton}">
        <div class="form-group has-feedback has-feedback-left col-no-padding">
            <input ng-model="searchedItem.name" placeholder="{{::searchPlaceholder}}" type="text" class="form-control">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="search-list-scroll-bar" ng-scrollable>
    <ul class="list-group">

        <div ng-show="(listModel.entities | filter: searchedItem:strict).length < 1 && searchedItem">
            <div class="search-list-empty-result-container">
                <strong>
                    <span ng-click="clearSearchValue()">
                        <span class="glyphicon glyphicon-remove"></span> {{::'createPolicy.noResultsFound' | i18next}}
                    </span>
                </strong>
            </div>
        </div>

        <div ng-show="(listModel.entities | filter: searchedItem).length < 1 && !searchedItem">
            <div class="search-list-empty-result-container">
                <strong>
                    <span>{{::absentDataMsg | i18next}}</span>
                </strong>
            </div>
        </div>

        <div ng-repeat="entity in listModel.entities | filter: searchedItem track by entity.id"
             ng-switch on="signatureIcon">
            <li ng-switch-when="remove" class="list-group-item search-list-item">
                <div class="checkbox">
                    <label ng-class="{'no-padding': !showRemoveButton}">
                        <span ng-if="showRemoveButton" ng-click="removeSelection(entity.id)"
                              class="glyphicon glyphicon-remove search-list-remove list" aria-hidden="true"></span>
                        <span label-trunc class="truncated" tooltip=""
                              tooltip-append-to-body="true">{{::entity.name}}</span>
                    </label>
                </div>
            </li>

            <li ng-switch-when="checkbox" class="list-group-item search-list-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="checkboxes.items[entity.id]"
                               ng-change="processCheckBoxesChange()">
                        <span label-trunc class="truncated" tooltip=""
                              ng-class="{'deselected': !checkboxes.items[entity.id]}"
                              tooltip-append-to-body="true">{{::entity.name}}</span>
                    </label>
                </div>
            </li>

            <li ng-switch-default class="list-group-item search-list-item">
                <span label-trunc class="truncated" tooltip=""
                      tooltip-append-to-body="true">{{::entity.name}}</span>
            </li>
        </div>
    </ul>
</div>