<div class="common-filter">
    <div class="col-xs-3" ng-if="isSearchFilterInited">
        <form class="form-horizontal">
            <div class="form-group has-feedback has-feedback-left" ng-if="isSearchFilterInited">
                <input placeholder="{{::'common.searchTxt' | i18next}}"
                       type="text" ng-model-options="{debounce: 1000}"
                       ng-model="selectedFilters.searchFilterVal" class="form-control">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
        </form>
    </div>
    <div class="col-xs-9 filterRightSide">
        <form class="form form-inline pull-right filters-controls" role="form">
            <div class="form-group" ng-if="isOptionFilterReady">
                <span for="filterType" class="control-label input-label">{{::'filter.showTxt' | i18next}}</span>
                <select id="filterType" class="form-control" ng-model="selectedFilters.optionFilterVal"
                        ng-change="handleFilterChange()"
                        ng-options="opt.label | i18next for opt in optionFilterValues"></select>
            </div>
            <div class="form-group" ng-if="isValueFilterInited">
                <span for="filterValues" class="control-label input-label">{{::'filter.createdByTxt' | i18next}}</span>
                <select id="filterValues" class="form-control" ng-model="selectedFilters.valueFilterVal"
                        ng-change="handleFilterChange()"
                        ng-options="opt.label | i18next for opt in valueFilterValues"></select>
            </div>
            <div class="form-group" ng-if="isDateFilterInited">
                <span for="dateFrom" class="control-label input-label">{{::'filter.dateFromTxt' | i18next}}</span>
                <common-date-picker id="dateFromPicker" dt="selectedFilters.dateStart"
                                    max-date="maxDateStart"
                                    date-changed="startDateChange"
                                    date-options="datePickerOptions"/>
            </div>
            <div class="form-group" ng-if="isDateFilterInited">
                <span for="dateTo" class="control-label input-label">{{::'filter.dateToTxt' | i18next}}</span>
                <common-date-picker id="dateToPicker" dt="selectedFilters.dateEnd"
                                    min-date="minDateEnd"
                                    date-changed="endDateChange"
                                    date-options="datePickerOptions"/>
            </div>
            <div class="form-group clearFilterContainer">
                <span class="glyphicon glyphicon-remove clearFilterBtn" aria-hidden="true" ng-class="clearFilterState"
                      ng-click="clearFilter()" tooltip="{{::'filter.clearTxt' | i18next}}"></span>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
</div>


