    <p class="input-group has-feedback date-picker" ng-click="open($event)">
        <input type="text" class="form-control btn date-picker-input" role="button"
               datepicker-popup="{{::'formats.datePickerFormat' | i18next}}"
               ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate"
               datepicker-options="dateOptions" readonly
               ng-required="true" close-text="{{::'common.closeTxt' | i18next}}"
               current-text="{{::'common.todayTxt' | i18next}}" clear-text="{{::'common.clearTxt' | i18next}}"/>

              <span class="glyphicon glyphicon-triangle-bottom form-control-feedback date-picker-icon"></span>
    </p>
