    <div class="common-grid-container" ng-if="isGridInited">
        <div class="row" ng-if="!dataLoadErrorOccured">

            <div common-filter filter-config="gridConfiguration.filters" filter-changed="filterChanged"
                 class="filter-ctrl"></div>

            <div loading-container="tableParams.settings().$loading">
                <table ng-table="tableParams" class="table table-hover table-condensed ng-table-rowselected"
                       template-header="table_header_template"
                       template-pagination="table_pager_empty">

                    <tr ng-if="isNoFilteredData" class="stateChangeContainer">
                        <td class="stateChangeMsgRow" colspan="{{::columnDefinitions.length}}">
                            <div ng-include src="gridConfiguration.rowDetailsView.noFilterDataSrc"></div>
                        </td>
                    </tr>
                    <tr ng-if="isGridTopLevelMsg" class="stateChangeContainer">
                        <td class="stateChangeMsgRow" colspan="{{::columnDefinitions.length}}">
                            <div ng-include src="gridConfiguration.rowDetailsView.stateChangeSrc"></div>
                        </td>
                    </tr>

                    <tr ng-repeat-start="entity in $data track by entity.id"
                        ng-if="entity.isChanged" class="stateChangeContainer">
                        <td class="stateChangeMsgRow" colspan="{{::columnDefinitions.length}}">
                            <div ng-include src="gridConfiguration.rowDetailsView.stateChangeSrc"></div>
                        </td>
                    </tr>
                    <tr ng-class="{'active': entity.$selected, 'changed': entity.isChanged}">
                        <td ng-repeat="column in columnDefinitions"
                            ng-switch on="column.type" ng-style="column.style"
                            ng-click="handleRowClick($event, entity, column.type)">
                            <div ng-switch-when="check">
                                <input type="checkbox" ng-model="checkboxes.items[entity.id]"
                                       ng-change="processCheckBoxesChange()"/>
                            </div>
                            <div ng-switch-when="action" class="gridActions">
                                <span ng-repeat="action in column.actions" class="glyphicon {{::action.icon}} rowAction"
                                      aria-hidden="true" tooltip="{{::action.label | i18next}}"
                                      ng-click="rowAction(action.actionName, action.actionType, [entity])"></span>
                            </div>
                            <div ng-switch-when="number">
                                {{::entity[column.field]}}
                            </div>
                            <div ng-switch-when="dynamic" class="truncDiv">
                                <span label-trunc class="truncated" tooltip="">
                                    {{entity[column.field] | i18next}}
                                </span>
                            </div>
                            <div ng-switch-default class="truncDiv">
                                <span label-trunc class="truncated" tooltip="">
                                    {{::column.subfield ? entity[column.field][column.subfield] : entity[column.field] | i18next}}
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-if="entity.$selected" class="detailsViewContainer">
                        <td colspan="{{::columnDefinitions.length}}">
                            <div ng-include src="gridConfiguration.rowDetailsView.src"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row grid-footer">
                <div class="col-xs-3">
                    <button class="btn btn-default" ng-disabled="bulkDeleteDisabled" ng-click="bulkDeleteHandler()">
                        {{::'policyGrid.deleteSelected' | i18next}}
                    </button>
                </div>

                <div class="col-xs-9" style="float: right;">

                    <form class="form form-inline pull-right filters-controls" role="form">
                        <div class="form-group">
                            <div>
<span ng-i18next="[i18next]({sprintf:['{{pagination.loadedItemsCount}}','{{pagination.totalItemsCount}}']})gridFooter.shownNumber">
                        </span>
                                <span class="labelWithSpacing">{{::'gridFooter.showTxt' | i18next}}</span>
                                <select class="form-control" ng-model="pageSize.selection" ng-change="changePageSize()"
                                        ng-options="opt for opt in pageSize.options"
                                        style="width: 70px;  display: inline;"></select>
                                <span class="labelWithSpacing">{{::'gridFooter.recsPerPage' | i18next}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <pagination ng-if="pagination.totalItemsCount > 0"
                                        total-items="pagination.totalItemsCount" ng-model="pagination.currentPage"
                                        ng-change="pageChanged()"
                                        max-size="pagination.maxSize"
                                        items-per-page="pageSize.selection" class="pagination-sm"
                                        boundary-links="true" rotate="false"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;"></pagination>
                        </div>
                    </form>
                </div>

            </div>

        </div>


        <div class="row" ng-if="dataLoadErrorOccured">
            <div class="col-xs-12 policies-reload-content">
                <a href ng-click="reloadDataAfterError()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-refresh"></span> {{::'errors.reloadPolicies' | i18next}}
                </a>
            </div>
        </div>
    </div>


<script type="text/ng-template" id="table_header_template">
    <tr>
        <th ng-repeat="column in columnDefinitions" ng-show="true" ng-switch on="column.type"
            class="column-head" ng-class="{
                      'sortable': column.sortable,
                      'checkColumn' : column.type == 'check',
                      'sort-asc': tableParams.isSortBy(column.subfield ? (column.field + '__' + column.subfield) : column.field, 'asc'),
                      'sort-desc': tableParams.isSortBy(column.subfield ? (column.field + '__' + column.subfield) : column.field, 'desc')
                    }"
ng-click="column.sortable ? (column.subfield ? sortTable(column.field + '__' + column.subfield) : sortTable(column.field)) : ''">

            <div ng-switch-when="check">
                <input type="checkbox" ng-click="selectAll($event)" ng-checked="checkboxes.checked"
                       ng-indeterminate="selectAllProp"
                       name="filter-checkbox" value=""/>
            </div>
            <div ng-switch-default>{{::column.title | i18next}}
                <span class="sort-indicator"></span>
            </div>
        </th>
    </tr>
</script>

<script type="text/ng-template" id="table_pager_empty">
</script>