.dec-html5-snippet {
  position: relative;
  cursor: default;
  font-size: $_14pt;
  overflow: hidden;

  .color-very-important {
    color: $priorityColorVeryImportant;
  }
  .color-attention {
    color: $priorityColorAttention;
  }
  .row-mark-very-important {
    background-color: $priorityColorVeryImportant;
  }
  .row-mark-attention {
    background-color: $priorityColorAttention;
  }
  .snippet-row-mark {
    width: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

    h3 {
      background-color: #f4f4f4;
      font-weight: normal;
      font-size: $_14pt;
      padding: 5px;
      margin: 0;
      cursor: pointer;
      text-transform: none;
      &.collapsed:before, &.expanded:before {
        @extend %ico-outline;
        color: $cgmIconDefaultColor;
        margin-right: 4px;
      }
      &.collapsed:before {
        content: '\e153';
      }
      &.expanded:before {
        content: '\f07d';
      }
    }

    .dec-html5-snippet-container {
      height: auto;
      overflow: hidden;
    }
    .dec-html5-snippet-row {

      .dec-html5-snippet-info-bar {
        margin-bottom: 7px;
        vertical-align: middle;
        .dates-container {
          vertical-align: middle;
          float: left;
          width: 33%;
          word-wrap: break-word;
          white-space: nowrap;
        }
        .time-and-date {
          vertical-align: middle;
          white-space: nowrap;
          width: 88%;
          display: inline-block;
          .time {
            color: #282828;
          }
        }
        .shift-icon {
          vertical-align: middle;
          display: inline-block;
          color: #282828;
        }
      }
      .dec-html5-snippet-info-bar > span {
        display: inline-block;
        margin-right: 4px;
      }
      .dec-html5-snippet-info-bar .main-icon {
        font-size: $_16pt;
        display: inline-block;
        vertical-align: middle;
      }
      .dec-html5-snippet-info-bar .priority-icon {
        font-size: $_18pt;
        display: inline-block;
      }
      .dec-html5-snippet-info-bar .registration-date {
        font-size: $_12pt;
        color: #b2b2b2;
      }
      .dec-html5-snippet-info-bar > .author {
        float: right;
        text-align: right;
        word-wrap: break-word;
        white-space: nowrap;
        width: 61%;
        margin-top: 2px;
        color: #282828;
      }
      .dec-html5-snippet-info-bar > .state-icon {
        float: right;
        font-size: $_16pt;
        width: 4%;
        text-align: right;
        color: #282828;
      }
      .snippet-comment {
        padding: 10px;
        position: relative;
        border-bottom: 1px #d3d3d3 solid;
        word-wrap: break-word;
        .snippet-comment-text {
          color: #282828;
        }
        .snippet-comment-text.deleted {
          color: $deletedCommentColor;
          .deletion-reason {
            color: #000;
          }
        }
        .snippet-comment-source {
          margin: 4px 0 0 0;
        }
        .dec-author-role {
          margin-right: 4px;
        }
      }


    }

    .dec-html5-snippet-container.closed {
      max-height: 0;
      display: none;
    }
    .dec-html5-snippet-container.opened {

    }

    .snippet-loading {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 244, 203, 0.76);
      z-index: 1;
    }

}