<!--<div class="container container-content" ng-controller="SignatureWizardController">

    <h3>{{::'createSignature.createNewSignature' | i18next}}</h3>
    <br>

    <form class="form-horizontal">

        <rules-information></rules-information>

        <signature-information></signature-information>

        <meta-information></meta-information>

        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <label class="checkbox-inline">
                    <input type="checkbox" name="preview" value="1">
                    {{::'createSignature.previewSignaturesCheckbox' | i18next}}
                </label>
            </div>
        </div>

        <hr>

        <button type="button" class="btn btn-lg btn-default" ng-click="cancelWizard()">
            {{::'generalElements.cancel' | i18next}}
        </button>
        <button class="btn btn-lg btn-primary" ng-click="addNewSignatureModel.createSignature();">
            {{::'createSignature.createNewSignature' | i18next}}
        </button>

    </form>

</div>-->


