<div class="container">
    <policy-header-navigation></policy-header-navigation>

    <div common-grid ng-controller="GridCommonControl" ng-init="init('policies')"
         grid-configuration="configuration"
         row-action-handler="gridRowAction"
         changed-object="changedObject"></div>

</div>