<h4 class="modal-title">{{::'createSignature.metaInformation' | i18next}}</h4>

<div class="form-group margin-top-6">
    <label class="col-md-2 control-label input-label">{{::'createSignature.classType' | i18next}}</label>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">

                <select ng-model="addNewSignatureModel.data.classTypeID"
                        ng-options="key.id as key.name for key in addNewSignatureModel.values.classTypeList"
                        class="form-control">
                    <option value="" selected="selected" disabled>{{::'generalElements.select' | i18next}}
                        {{::'createSignature.classType' | i18next}}</option>
                </select>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-md-2 control-label input-label">
                            {{::'createSignature.priority' | i18next}}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control"
                               numeric-input maxlength="3" minvalue="1" maxvalue="255"
                               ng-model="addNewSignatureModel.data.priority">
                    </div>
                    <div class="col-md-3">
                        <span class="text-muted">(1-255)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.reference' | i18next}}</label>
    <div class="col-md-10">
        <div class="name-interface-rows name-interface-row-scroll" ng-scrollable>
            <div reference-input-validation
                 rows-model="addNewSignatureModel.data.references"
                 no-duplicated-reference-flag="addNewSignatureModel.validation.third.noDuplicatedReferenceFound"
                 tooltip="" tooltip-placement="right"
                 tooltip-append-to-body="true" tooltip-trigger="validationfailed">
                <reference-input></reference-input>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.SID' | i18next}}</label>
    <div class="col-md-4">
        <input type="text" class="form-control" ng-model="addNewSignatureModel.data.sid"
               numeric-input input-validation required ng-minlength="10" maxlength="12"
               validation-event-name="third_isSIDValid"
               validation-group="signatureMetaValidation"
               tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.GID' | i18next}}</label>
    <div class="col-md-4">
        <input type="text" class="form-control" ng-model="addNewSignatureModel.data.gid"
               numeric-input input-validation required
               validation-event-name="third_isGIDValid"
               validation-group="signatureMetaValidation"
               tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
    </div>
</div>
</div>