<h4 class="modal-title">{{::'createSignature.rulesInformation' | i18next}}</h4>

<div class="form-group margin-top-6">
    <label class="col-md-2 control-label input-label">{{::'createSignature.action' | i18next}}</label>
    <div class="col-md-4">
        <select ng-model="addNewSignatureModel.data.action"
                ng-options="key.value as (key.i18nLabel | i18next) for key in addNewSignatureModel.values.actionList"
                class="form-control"
                input-validation required
                validation-event-name="first_isActionValid"
                validation-group="signatureRulesValidation"
                tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
            <option value="" selected="selected" disabled>
                {{::'generalElements.select' | i18next}} {{::'createSignature.action' | i18next}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.protocol' | i18next}}</label>
    <div class="col-md-4">
        <select ng-model="addNewSignatureModel.data.protocol"
                ng-options="key.value as (key.i18nLabel | i18next) for key in addNewSignatureModel.values.protocolList"
                class="form-control"
                input-validation required
                validation-event-name="first_isProtocolValid"
                validation-group="signatureRulesValidation"
                tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
            <option value="" selected="selected" disabled>
                {{::'generalElements.select' | i18next}} {{::'createSignature.protocol' | i18next}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.source' | i18next}}</label>
    <div class="col-md-10" style="padding-bottom: 0">
        <ip-input selected-ip-address="addNewSignatureModel.data.source.ip"
                  selected-port="addNewSignatureModel.data.source.port"
                  top-validation-result-name="first_isSourceValid"
                  validation-group="signatureRulesValidation"></ip-input>
    </div>
</div>

<div class="margin-top-6"></div>
<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.direction' | i18next}}</label>
    <div class="col-md-6">
        <label class="radio-inline">
            <input type="radio" name="direction"
                   ng-model="addNewSignatureModel.data.unidirectional"
                   data-ng-value="true" checked>
            {{::'createPolicy.directions.unidirectional' | i18next}}
        </label>
        <label class="radio-inline">
            <input type="radio" name="direction"
                   ng-model="addNewSignatureModel.data.unidirectional"
                   data-ng-value="false">
            {{::'createPolicy.directions.bidirectional' | i18next}}
        </label>
    </div>
</div>
<div class="margin-top-6"></div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.destination' | i18next}}</label>
    <div class="col-md-10">
        <ip-input selected-ip-address="addNewSignatureModel.data.destination.ip"
                  selected-port="addNewSignatureModel.data.destination.port"
                  top-validation-result-name="first_isDestinationValid"
                  validation-group="signatureRulesValidation"></ip-input>
    </div>
</div>