<h4 class="modal-title">{{::'createSignature.signatureInformation' | i18next}}</h4>

<div class="form-group margin-top-6">
    <label class="col-md-2 control-label input-label">{{::'generalElements.name' | i18next}}</label>
    <div class="col-md-4">
        <input name="name" type="text" class="form-control input-md"
               ng-model="addNewSignatureModel.data.name"
               input-validation required
               validation-event-name="second_isNameValid"
               validation-group="signatureEntityValidation"
               tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.category' | i18next}}</label>
    <div class="col-md-4">
        <select ng-options="category.id as category.name for category in addNewSignatureModel.categories"
                ng-model="addNewSignatureModel.data.categoryId"
                class="form-control"
                input-validation required
                validation-group="signatureEntityValidation"
                validation-event-name="second_isCategoryValid"
                tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
            <option value="" selected="selected" disabled>{{'generalElements.select' | i18next}}
                {{::'createSignature.category' | i18next}}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.message' | i18next}}</label>
    <div class="col-md-4">
        <textarea class="form-control" name="message"
                  ng-model="addNewSignatureModel.data.message"></textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.flowControl' | i18next}}</label>
    <div class="col-md-10">
        <keywords-text keywords="controlKeywords" keywords-value="addNewSignatureModel.data.flowControlTxt"
                       help-link-url="{{::helpLinks[0].flowControlLink}}"></keywords-text>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label input-label">{{::'createSignature.content' | i18next}}</label>
    <div class="col-md-10">
        <keywords-text keywords="contentKeywords" keywords-value="addNewSignatureModel.data.contentTxt"
                       help-link-url="{{::helpLinks[1].contentLink}}"></keywords-text>
    </div>
</div>