.open-ip-list-menu {
  margin-left: 4px;
}

.ip-label, .port-label {
  display: inline-block;
  line-height: 30px;
}
.well.ip-input-box {
  margin-bottom: 0;
}
.dropdown-menu.ip-dropdown {
  width: 300px;
  left: auto !important;
  right: 0;
  top: 25px;
}
