<div class="modal-header">
    <button type="button" class="close" ng-click="closePreviewModal()"
            title="{{::'common.closeTxt' | i18next}}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h4 class="modal-title">{{::'createPolicy.importSignature' | i18next}}</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal">

            <div ng-switch="importSignatureState">

                <div ng-switch-when="importSignatureFileUploadForm">

                    <div class="form-group">
                        <label class="col-md-2 control-label input-label">
                            {{::'importSignature.format' | i18next}}
                        </label>
                        <div class="col-md-9">
                            <label class="radio-inline" ng-repeat="format in formats" for="format-{{format.value}}">
                                <input type="radio" name="format" id="format-{{format.value}}"
                                       value="{{format.value}}" ng-checked="format.checked">
                                {{::format.i18Label | i18next}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label input-label">
                            {{::'importSignature.reference' | i18next}}
                        </label>
                        <div class="col-md-9 well">
                            <file-select></file-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label input-label">
                            {{::'importSignature.category' | i18next}}
                        </label>
                        <div class="col-md-6">
                            <select ng-options="category.name for category in categories"
                                    ng-model="selectedCategory"
                                    class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-9">
                            <label class="checkbox-inline" for="previewBeforeImport">
                                <input type="checkbox" name="" id="previewBeforeImport"
                                       ng-model="previewSignaturesBeforeSaveCheckBox.checked">
                                {{::'createSignature.previewSignaturesImportCheckbox' | i18next}}
                            </label>
                        </div>
                    </div>

                </div>

                <div ng-switch-when="previewSignaturesBeforeSave">
                    <div ng-include src="'modules/signature/views/newsignature/preview-signatures.html'"></div>
                </div>
            </div>

    </form>

</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default"
            ng-click="closePreviewModal()">{{::'generalElements.cancel' | i18next}}</button>

    <span ng-switch="importSignatureState">

        <span ng-switch-when="importSignatureFileUploadForm">
            <button class="btn btn-primary" ng-disabled="true" ng-click="saveSignature();">
                {{::'createPolicy.importSignature' | i18next}}
            </button>
        </span>

        <span ng-switch-when="previewSignaturesBeforeSave">
             <button class="btn btn-primary" ng-click="saveSignature(); closePreviewModal();">
                 {{::'importSignature.saveSignature' | i18next}}
             </button>
        </span>

    </span>

</div>