<div class="modal-header">
    <button type="button" class="close" ng-click="closePreviewModal()"
            title="{{::'common.closeTxt' | i18next}}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h4 class="modal-title">{{::'createSignature.previewSignatureTitle' | i18next}}</h4>
</div>
<div class="modal-body">
    <div class="well">
        {{::ruleTxt}}
    </div>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default"
            ng-click="closePreviewModal()">{{::'generalElements.cancel' | i18next}}</button>

    <button class="btn btn-primary" ng-click="savePreviewdSignature()">
        {{::'importSignature.saveSignature' | i18next}}
    </button>


</div>