<div class="policy-signatures-container" loading-container="isLoadingSignatureCategories">
    <div class="col-xs-4">
        <search-list data="signatureCategories" absent-data-msg="createPolicy.noCategoriesAvailable"
                     search-placeholder="{{::'createPolicy.searchForCategories' | i18next}}"
                     selection-changed="categorySelectionChange"
                     update-top-selection-event-name="updateAvailableCategoriesSelectionEventName"
                     signature-icon="checkbox" preselect-all="isSignatureSelectionEnabled"
                     section-title="{{::'createPolicy.signatureCategories' | i18next}}"></search-list>
    </div>

    <div class="col-xs-4">
        <search-list ng-show="isSignatureSelectionEnabled"
                     data="availableSignatures" absent-data-msg="createPolicy.noCategoriesSelected"
                     search-placeholder="{{::'createPolicy.searchForSignatures' | i18next}}"
                     selection-changed="signaturesSelectionChange"
                     update-selection-event-name="updateAvailableSignaturesSelectionEventName"
                     signature-icon="checkbox"
                     section-title="{{::'createPolicy.availableSignatures' | i18next}}"></search-list>
    </div>

    <div class="col-xs-4">
        <search-list data="selectionModel" absent-data-msg="createPolicy.noSignaturesSelected"
                     search-placeholder="{{::'createPolicy.searchForSignatures' | i18next}}"
                     signature-icon="remove" show-remove-button="isSignatureSelectionEnabled"
                     clear-all-selected="clearAllSelected"
                     remove-selection="removeSelection"
                     section-title="{{::'createPolicy.selectedSignatures' | i18next}}"
                     signature-select-validation
                     tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed"></search-list>
    </div>

    <div class="clearfix"></div>

    <div class="signature-buttons text-right margin-top-6">
        <button type="button" class="btn btn-default btn-xs" ng-click="addNewSignature()">
            {{::'createPolicy.addNewSignature' | i18next}}
        </button>
        <button type="button" class="btn btn-default btn-xs"
                ng-click="openImportSignatureModal()">
            {{::'createPolicy.importSignature' | i18next}}
        </button>
    </div>
</div>