<div class="main-navigation">
    <div class="container">

        <ul class="navigation">
            <li ng-repeat="navLink in mainNavLinks track by navLink.href"
                ng-class="{active: isActiveLink(navLink.href), dropdown: navLink.isAdmin}"
                ng-switch on="navLink.isAdmin" dropdown>

                <a ng-switch-when="false" href ng-click="navigationClicked(navLink.href, navLink.type)">
                    {{::navLink.name | i18next}}
                </a>

                <a ng-switch-when="true" href class="dropdown-toggle" dropdown-toggle>
                    {{::'mainNavLinks.administration' | i18next}}
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </a>
                <ul ng-switch-when="true" class="dropdown-menu" role="menu">
                    <li ng-repeat="link in adminButtonDropDown">
                        <a href ng-click="navigationClicked(link.href, link.type)"
                           role="menuitem" tabindex="-1">{{::link.name | i18next}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>