<div class="sensor-select-row" ng-repeat="row in addNewSignatureModel.data.references">
    <div class="col-md-4 sensor-select-content">
        <div class="col-md-2 field-lbl">
            <span>{{::'createSignature.type' | i18next}}:</span>
        </div>
        <div class="col-md-10">
            <select ng-model="row.typeId" class="form-control"
                    ng-options="type.id as type.name for type in addNewSignatureModel.values.referenceTypes">
            </select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <input type="text" ng-model="row.value" class="form-control"
                   placeholder="{{::'createSignature.value' | i18next}}">
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-default" ng-click="removeTypeValueRow($index)"
        ng-class="{'sensor-select-button-hidden': $index === 0 && addNewSignatureModel.data.references.length === 1}">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>

    </div>
    <div class="col-md-1">
        <button class="btn btn-default"
                ng-class="{'sensor-select-button-hidden': $index !== addNewSignatureModel.data.references.length - 1}"
                ng-click="addTypeValueRow()"
                ng-disabled="row.type === '' || row.value === '' ||
                !addNewSignatureModel.validation.third.noDuplicatedReferenceFound">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="clearfix"></div>
</div>