<div ng-if="!policyDetailsLoaded">
    <preloader text-bundle-key="policyDetails.loadingMessage"></preloader>
</div>

<div class="rowDetailContent" ng-if="policyDetailsLoaded && !policyDetailsLoadError">
    <div class="col-md-4 rowDetailSearchListContent">
        <search-list data="signaturesData" absent-data-msg="policyDetails.noSignaturesFound"
                signature-icon="empty"
                search-placeholder="{{::'policyDetails.searchSignaturesLbl' | i18next}}"
                section-title="{{::'policyDetails.signaturesLbl' | i18next}}"></search-list>
    </div>

    <div class="col-md-4 rowDetailSearchListContent">
        <search-list data="sensorsData" absent-data-msg="policyDetails.noSensorsFound"
                signature-icon="empty"
                search-placeholder="{{::'policyDetails.searchSensorsLbl' | i18next}}"
                section-title="{{::'policyDetails.sensorsLbl' | i18next}}"></search-list>
    </div>

    <div class="col-md-4 rowDetailDescriptionBlock">
        <span class="search-list-title">{{::'policyDetails.descriptionLbl' | i18next}}</span>
        <hr>
        <span class="selected-row-description">{{::selectedRow.description}}</span>

    </div>
    <div class="hideDetails" ng-click="collapseDetails()">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span>{{::'policyDetails.hideDetailsLbl' | i18next}}</span>
    </div>
</div>

<div class="row" ng-if="policyDetailsLoadError">
    <div class="col-md-12 policies-reload-content">
        <a href ng-click="reloadPolicyDetails()" class="btn btn-primary">
            <span class="glyphicon glyphicon-refresh"></span> {{::'errors.reloadPolicyDetails' | i18next}}
        </a>
    </div>
</div>