.preloader-container {
  text-align: center;

  .preloader-text {
    font-weight: bold;
  }

  &.preloader-repositioned {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -ms-box-align: center;
    align-items: center;

    width: 100%;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -ms-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

  }
}

.loading-container {
  position: relative;

  .loading {
    &:before, &:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 50px;
      min-width: 50px;
    }

    &:before {
      background-color: white;
      opacity: 0.5;
    }
  }
}