<div loading-container="isSendingDataInProgress">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeDeletePolicyModal()"
                title="{{'common.closeTxt' | i18next}}">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <h4 class="modal-title">
            {{isBulkMode ? 'deletePolicyModal.deletePolicyTitleBulk' : 'deletePolicyModal.deletePolicyTitle' | i18next}}
        </h4>
    </div>
    <div class="modal-body">

    <span ng-if="!isBulkMode" class="modal-title"
          ng-i18next="[html:i18next]({sprintf:['{{policyItem.name}}']})deletePolicyModal.deletePolicyMsg">
    </span>

    <span ng-if="isBulkMode" class="modal-title"
          ng-i18next="[html:i18next]({sprintf:['{{policyItems.length}}']})deletePolicyModal.deletePolicyMsgBulk">
    </span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="closeDeletePolicyModal()">
            {{'generalElements.cancel' | i18next}}
        </button>
        <button class="btn btn-primary" ng-click="deleteThisPolicy()">
            {{isBulkMode ? 'deletePolicyModal.deletePolicyBtnBulk' : 'deletePolicyModal.deletePolicyBtn' | i18next}}
        </button>
    </div>
</div>