<div class="modal-header">
    <button type="button" class="close" ng-click="cancelModal()"
            title="{{::'common.closeTxt' | i18next}}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h4 class="modal-title">{{::'createPolicy.policyTypeChangeTitle' | i18next}}</h4>
</div>
<div class="modal-body">

    <span>{{::'createPolicy.policyTypeChangeMsg' | i18next}}</span>

</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default"
            ng-click="submitModal()">{{::'common.yes' | i18next}}</button>

    <button type="button" class="btn btn-primary"
            ng-click="cancelModal()">{{::'common.no' | i18next}}</button>

</div>