<div class="policies-header">
    <div class="row">
        <div class="col-xs-4">
            <h3>{{::'createPolicy.policiesHeaderMenu.policiesLbl' | i18next}}
        <span ng-i18next="[i18next]({sprintf:['{{totalPoliciesFound}}']})createPolicy.policiesHeaderMenu.policiesCount">
            </span>
            </h3>
        </div>
        <div class="col-xs-8">
            <div class="policy-header-nav text-right">
                <a class="policy-nav-link" ng-href="#/wizard">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="button-label">{{::'createPolicy.policiesHeaderMenu.createPolicy' | i18next}}</span>
                </a>
                <a class="policy-nav-link" href ng-click="openApplyPolicyDialog()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <span class="button-label">{{::'createPolicy.policiesHeaderMenu.applyPolicy' | i18next}}</span>
                </a>
                <a class="policy-nav-link" ng-href="">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span class="button-label">{{::'createPolicy.policiesHeaderMenu.classifyPolicies' | i18next}}</span>
                </a>
                <a class="policy-nav-link" ng-href="">
                    <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                    <span class="button-label">{{::'createPolicy.policiesHeaderMenu.reportGenerator' | i18next}}</span>
                </a>
            </div>
        </div>
    </div>
</div>