<div class="modal-header">
    <button type="button" class="close" ng-click="cancelModal()"
            title="{{::'common.closeTxt' | i18next}}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h4 class="modal-title">{{'createPolicy.selectedSignaturesPreview' | i18next}}</h4>
</div>
<div class="modal-body">
    <ul class="list-group preview-signatures-scrollbar" ng-scrollable>
        <li class="list-group-item" ng-repeat="signature in selectedSignatures">{{::signature.name}}</li>
    </ul>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="cancelModal()">{{::'generalElements.cancel' | i18next}}</button>
    <button class="btn btn-primary"
            ng-click="submitModal()">{{::submitLbl | i18next}}</button>
</div>