@mixin Opacity($value) {
  filter: alpha(opacity=$value);
  -khtml-opacity: $value;
  -moz-opacity: $value;
  opacity: $value;
}

body {
  background-color: #f5f5f5;
  font-family: 'OpenSansRegular' !important;
}

.userInfoPrealoder {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100px;
  margin: auto;
  width: 200px;
  left: 0;
  right: 0;
}

.modal-content {
  -webkit-box-shadow: 0 10px 6px -8px rgba(0,0,0,0.21) !important;
  -moz-box-shadow: 0 10px 6px -8px rgba(0,0,0,0.21) !important;
  box-shadow: 0 10px 6px -8px rgba(0,0,0,0.21) !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

textarea {
  resize: none;
}

.col-no-padding {
  padding: 0;
  margin: 0 !important;
}

.container-content {
  padding: 20px 30px 30px 30px;
  margin-bottom: 30px;
  background-color: #fff;
}

.margin-top-1 { margin-top:5px; }
.margin-top-2 { margin-top:7px; }
.margin-top-3 { margin-top:10px; }
.margin-top-4 { margin-top:15px; }
.margin-top-5 { margin-top:17px; }
.margin-top-6 { margin-top:30px; }



.input-custom-error {
  border: 1px #cc2200 solid;
  outline-color: #cc2200 !important;
}
.input-custom-error:focus {
  border-color: #cc2200;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 34, 0, 0.3);
  outline: 0 none;
}

html {
  height: 100%;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 400px;
  height: 300px
}

.truncated {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}

.truncDiv {
  overflow: hidden;
}

.scrollable {
  .scrollable-bar {
    @include Opacity(1);
    background-color: #f0f0f0;
  }
}

h4 {
  &.modal-title {
    font-size: 16px;
    font-weight: bold;
  }
}

.input-label {
  font-weight: normal;
  text-align: left !important;
  &:after {
    content: ":";
  }
}


////place red tooltip on right side only if validation error, other tootips should be placed in any other location
.tooltip {
  &.right {
    .tooltip-arrow {
      bottom: 0;
      border-right-color: #d9534f;
    }

    .tooltip-inner {
      min-width: 100px;
      background-color: #d9534f;
    }
  }

  &.left {
    .tooltip-arrow {
      bottom: 0;
      border-left-color: #d9534f;
    }

    .tooltip-inner {
      min-width: 100px;
      background-color: #d9534f;
    }
  }
}

.error-message {
  background-color: #d9534f;
  color: #fff;
}

.btn-xs {
  font-weight: bold;
  padding: 0 10px;
}

.has-feedback-left {
  .glyphicon {
    left: 0;
  }

  input {
    padding-left: 30px;
  }
}

.no-padding {
  padding: 0 !important;
}

.bold-text {
  font-weight: bold;
}

select {
  line-height: 30px !important;
}