<div class="modal-header">
    <button type="button" class="close" ng-click="closeApplyPolicyModal()"
            title="{{::'common.closeTxt' | i18next}}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h4 class="modal-title">
        {{::'applyPolicyModal.applyPolicyTitle' | i18next}}
    </h4>
</div>
<div class="modal-body">

    <form loading-container="isDataLoading" class="form-horizontal" name="applyPolicyForm" novalidate>

        <div class="form-group">
            <label class="col-md-3 control-label input-label" for="policyName">
                {{::'applyPolicyModal.policyName' | i18next}}
            </label>

            <div class="col-md-5 no-padding">
                <select id="policyName" class="form-control"
                        ng-options="opt.name for opt in model.values.policies track by opt.id"
                        ng-change="model.data.policyId = model._policyId.id"
                        ng-model="model._policyId"
                        input-validation required
                        validation-event-name="applyPolicyNameValidation"
                        tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
                    <option value="" disabled>{{::'applyPolicyModal.selectPolicyName' | i18next}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label input-label">{{::'applyPolicyModal.hierarchy' | i18next}}</label>

            <div class="col-md-9 no-padding">
                <div class="radio">
                    <label>
                        <input type="radio" name="hierarchy"
                               ng-model="model.data.isGlobal"
                               data-ng-value="true"
                               ng-change="changeHierarchy()">
                        {{::'applyPolicyModal.hierarchyGlobal' | i18next}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="hierarchy"
                               ng-model="model.data.isGlobal"
                               data-ng-value="false"
                               ng-change="changeHierarchy()">
                        {{::'applyPolicyModal.hierarchyLocal' | i18next}}
                    </label>
                </div>

            </div>
        </div>

        <div ng-if="isSensorSelectionEnabled" class="form-group">
            <div class="col-md-12">
                <div class="name-interface-rows name-interface-row-scroll" ng-scrollable>
                    <div class=""
                         sensor-select-validation
                         rows-model="nameInterfaceRowsModel"
                         duplicated-sensor-flag="duplicateSensorFound"
                         tooltip="" tooltip-placement="right"
                         tooltip-append-to-body="true" tooltip-trigger="validationfailed">
                        <sensor-select></sensor-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label input-label">
                {{::'applyPolicyModal.deploymentMode' | i18next}}
            </label>

            <div class="col-md-5 no-padding">
                <select class="form-control"
                        ng-options="opt.value as opt.i18nLabel | i18next for opt in model.values.deployments"
                        ng-model="model.data.deploymentMode"
                        input-validation required
                        validation-event-name="applyPolicyDeploymentModeValidation"
                        tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
                    <option value="" disabled>{{::'applyPolicyModal.selectDeploymentMode' | i18next}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label input-label">
                {{::'applyPolicyModal.actions' | i18next}}
            </label>

            <div class="col-md-2 no-padding"
                 checkboxes-validation
                 validation-event-name="applyPolicyActionValidation"
                 tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
                <div class="checkbox" ng-repeat="action in model.values.actions">
                    <label for="{{action.value}}_check">
                        <input type="checkbox" id="{{action.value}}_check" value="{{action.value}}"
                               ng-click="toggleAction(action.value)">
                        {{::action.i18nLabel | i18next}}
                    </label>
                </div>

            </div>
        </div>


    </form>

</div>
<div class="modal-footer" tooltip="{{applyPolicyFormError | i18next}}" tooltip-placement="right">
    <button class="btn btn-default" ng-click="closeApplyPolicyModal()">
        {{::'generalElements.cancel' | i18next}}
    </button>
    <button id="applyBtn" class="btn btn-primary" ng-click="applyThisPolicy()">
        {{::'applyPolicyModal.applyPolicyBtn' | i18next}}
    </button>
</div>