<div class="sensor-select-row" ng-repeat="row in nameInterfaceRowsModel">
    <div class="col-md-6 sensor-select-content">
        <div class="col-md-5 field-lbl">
            <span>{{::'applyPolicyModal.name' | i18next}}:</span>
        </div>
        <div class="col-md-7">
            <select ng-model="row.sensor" class="form-control"
                    ng-options="sensor.name for sensor in model.values.sensors"
                    ng-change="row.interface = row.sensor.interfaces[0]">
            </select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-4 no-padding">
        <div class="col-md-4 field-lbl">
            <span>{{::'applyPolicyModal.interface' | i18next}}:</span>
        </div>
        <div class="col-md-8">
            <select ng-model="row.interface" class="form-control"
                    ng-options="interface.name for interface in row.sensor.interfaces">
            </select>
        </div>
    </div>

    <div class="col-md-1">
        <button class="btn btn-default" ng-click="removeNameInterfaceRow($index)"
                ng-class="{'sensor-select-button-hidden': $index === 0 && nameInterfaceRowsModel.length === 1}">
            <span class="glyphicon glyphicon-minus" aria-hidden="true" ></span>
        </button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-default"
                ng-class="{'sensor-select-button-hidden': $index !== nameInterfaceRowsModel.length - 1}"
                ng-click="addNameInterfaceRow()" ng-disabled="row.name === '' || duplicateSensorFound">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="clearfix"></div>
</div>