<div class="input-group">
    <span class="input-group-btn">
        <span class="btn btn-default btn-file">
            {{::'importSignature.chooseFileLbl' | i18next}} <input type="file" multiple>
        </span>
    </span>
    <input type="text" class="form-control chosen-file-input"
           placeholder="{{::'importSignature.chooseFilePlaceholder' | i18next}}">
</div>