<div class="preloader-container {{additionalClass}}">
    <div class="row">
        <div class="col-md-12">
            <div>
                <span ng-include="'assets/images/preloader.svg'"></span>
            </div>
            <div>
                <span class="preloader-text">{{textBundleKey | i18next}}</span>
            </div>
        </div>
    </div>
</div>