<div class="col-md-12">
    <div class="row policyAppliedMsgContent">
        <label>{{::'policyDetails.emptyFilterResult' | i18next}}</label>
        <button type="button" class="btn btn-default btn-xs" ng-click="clearFilterCriteria()">
            {{::'policyDetails.clearFilter' | i18next}}
        </button>
    </div>
</div>