<div class="keywordsTextContent well">
    <div>
        <textarea class="form-control"
                  ng-model="keywordsValue"
                  input-validation
                  validation-group="{{::validationGroup}}"
                  validation-event-name="{{::keywordsValidationEventName}}"
                  tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed"></textarea>
    </div>

    <div>
        <div class="btn-group" dropdown>
            <a href dropdown-toggle class="keywordHelp">
                {{::'createSignature.keywordInput.dropDownLabel' | i18next}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu keywords-scrollable-menu" role="menu">
                <li ng-repeat="keyword in keywords">
                    <a href ng-click="addKeyword(keyword)">{{::keyword.value}}</a>
                </li>
            </ul>
        </div>

        <div style="float: right">
            <a ng-href="{{helpLinkUrl}}" target="_blank" class="keywordHelp">
                {{::'createSignature.keywordInput.helpLabel' | i18next}}
            </a>
        </div>
    </div>
</div>