<div class="col-md-12" ng-switch on="changedObject.action">
    <div ng-switch-when="change" class="row policyAppliedMsgContent">
        <label>{{::'policyDetails.appliedPolicyMsg' | i18next}}</label>
        <button type="button" class="btn btn-default btn-xs" ng-click="applicationCancelHandler()" ng-if="false">
            {{::'policyDetails.cancelApplicationLbl' | i18next}}
        </button>
    </div>

    <div ng-switch-when="create" class="row policyAppliedMsgContent">
        <label>{{::'policyDetails.createdPolicyMsg' | i18next}}</label>
        <button type="button" class="btn btn-default btn-xs" ng-click="applyCreatedHandler()" ng-if="false">
            {{::'policyDetails.applyCreatedPolicyLbl' | i18next}}
        </button>
    </div>

    <div ng-switch-when="edit" class="row policyAppliedMsgContent">
        <label>{{::'policyDetails.editedPolicyMsg' | i18next}}</label>
        <button type="button" class="btn btn-default btn-xs" ng-click="applyCreatedHandler()" ng-if="false">
            {{::'policyDetails.applyCreatedPolicyLbl' | i18next}}
        </button>
    </div>

    <div ng-switch-when="delete" class="row policyAppliedMsgContent">
        <label ng-if="changedObject.data.length === 1">{{::'policyDetails.deletedPolicyMsg' | i18next}}</label>

        <label ng-if="changedObject.data.length > 1"
        ng-i18next="[html:i18next]({sprintf:['{{changedObject.data.length}}']})policyDetails.deletedPolicyMsgBulk">
        </label>

        <button type="button" class="btn btn-default btn-xs" ng-click="deletionCancelHandler()" ng-if="false">
            {{::'policyDetails.cancelDeletionLbl' | i18next}}
        </button>
    </div>
</div>